# ================================
# 部署环境
# Supported values are `production`, `test`, `dev`. Default is `dev`.
# ================================
DEPLOY_ENV=dev


# ================================
# OPENAI配置
# ================================
OPENAI_BASE_URL=https://api.openai-proxy.org/v1
OPENAI_API_KEY=
OPENAI_MODEL_NAME=gpt-4o


# ================================
# LANGFUSE配置
# ================================
LANGFUSE_CLOUD_LOG="https://us.cloud.langfuse.com/project/cml0go0lg00taad076b0xu3pn/traces"
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL="https://us.cloud.langfuse.com"
LANGFUSE_DEBUG=false


# ================================
# 日志配置
# ================================
LOG_LEVEL=INFO
LOG_ROTATION=00:00
LOG_RETENTION='366 days'
